@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
.ticket {
  height: auto;
  width: auto;
  max-width: 1000px;
  max-height: 1000px;
}

.ticket-container {
  position: relative;
}

.text-on-image {
  display: inline;
  position: fixed;
  right: 40%;
  left: 50%;
  bottom: 65%;
  writing-mode: vertical;
  transform: rotate(-90deg);
  font-size: 20px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
}
