.raffle-wrapper {
  max-width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card {
  width: 100%;
}

.raffle-button {
  position: absolute;
  width: fit-content;
  top: 55%;
  left: 27%;
}
img {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
