@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket {
  height: auto;
  width: auto;
  max-width: 768px;
  max-height: 1000px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInputWrapper {
  min-width: 300px;
}

.formInputWrapper input {
  width: 100%;
}

.formInputWrapper p {
  font-weight: bold;
  margin: 0 0 5px 0;
  padding-top: 5px;
}

.text-on-image {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  right: -85px;
  position: absolute;
  font-size: 12px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  color: black;
  width: 275px;
  height: 205px;
  top: -5;
}

.text-on-image-innerwrapper {
  font-size: 15px;
  height: 70%;
  padding: 0 10px;
  overflow: hidden;
  width: 70%;
  margin: 25px auto 25px 85px;
}
.contact_on_img {
  position: absolute;
}

.main_ticket_on_img {
  position: absolute;
  top: 60%;
  left: 40%;
}

.country_on_img {
  font-size: 12px;
}
.text-on-image p {
  margin: 7px 0 0 0;
  padding: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head-image {
  margin: 10px;
  position: relative;
}

.download-button {
  padding-top: 10px;
}

.in-the-ticket-region {
  position: absolute;
  color: #fff;
  left: 80px;
  top: 17px;
  font-size: 13px;
  font-weight: bold;
  font-family: "Ibarra Real Nova", serif;
}

.header_menu_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Ubuntu;
  justify-content: flex-end;
  margin: 10px;
}

.header-menu_buttons {
  margin: 10px;
}
.wrapper {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 10px 50px auto -100px;
  flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blueviolet;
}

.countryList {
  padding: 10px;
}

.form_wrapper {
  display: flex;
  margin: 20px;
}
