.search-wrapper {
  padding-top: 100px;
}

.search-value {
  width: 200px;
}

.submit-button {
  margin-left: 10px;
}

.agent-sales {
  padding: 10px;
  color: green;
  position: relative;
  left: 5em;
}
.card {
  max-height: 1300;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  min-width: 20rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.wrapper {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blueviolet;
}

.countryList {
  padding: 10px;
}
