@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket {
  height: auto;
  width: auto;
  max-width: 768px;
  max-height: 1000px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formInputWrapper {
  margin-bottom: 20px;
  min-width: 300px;
}

.formInputWrapper input {
  width: 100%;
}

.formInputWrapper p {
  font-weight: bold;
  margin: 0 0 5px 0;
  padding-top: 5px;
}

.text-on-image {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  right: -70px;
  position: absolute;
  font-size: 19px;
  font-family: "Ibarra Real Nova", serif;
  font-weight: normal;
  color: wheat;
  width: 275px;
  height: 205px;
  top: 277px;
}

.text-on-image-innerwrapper {
  height: 75%;
  padding: 0 10px;
  overflow: hidden;
  width: 70%;
  margin: 25px auto 25px 85px;
}

.text-on-image p {
  margin: 7px 0 0 0;
  padding: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head-image {
  margin: 10px;
  position: relative;
}

.download-button {
  padding-top: 10px;
}

.in-the-ticket-region {
  position: absolute;
  left: 200px;
  top: 4px;
  font-size: 14px;
  font-family: "Ibarra Real Nova", serif;
}
